@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

a {
  float: left;
  padding-right: 1.2%;
  text-decoration: none;
  font-size: large;
}
.header {
  padding-left: 3%;
}
.searchBar {
  margin-left: 20%;
}
.header a {
  color: #c4c3ca;
}
.header a:hover {
  color: rgb(255, 255, 255);
}

.outerLayer {
  background-color: #1f2029;
}
.NavBar {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}